<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="user profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laudantium debitis delectus adipisci ut culpa
        eius nisi omnis. Libero optio repellendus ab architecto saepe corporis temporibus laboriosam quod delectus sit,
        tenetur quos est autem illum esse vitae adipisci harum pariatur asperiores earum ratione! Ducimus consectetur
        laudantium reprehenderit fuga maiores dolor.
    </div>
    <div class="col-md-8">
        <h3><%= user.username %>'s campgrounds: </h3>
        <ul>
            <li>
                <% campgrounds.forEach(function(campground){ %>
                <a href="/campgrounds/<%=campground.id %>"><%= campground.name%></a>
                <% }); %>
            </li>
        </ul>

    </div>
</div>

<% include ../partials/footer %>